<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./csss/styles.css">
    
</head>

<body>
    {{>header}}
    <h1>Created by {{ name }}</h1>
    <p>{{eof}}</p>
    <img src="./img/photo-1524492412937-b28074a5d7da.jpeg">
     {{>footer}}
</body>

</html>