<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./csss/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h1>Help Page {{title}}</h1>
    <p>Help me and my name is {{name}}</p>
     </div>
    {{>footer}}
   
</body>

</html>